
 <h1>Menu Session SALARIOS</h1>


 <ul class="list-group">

    <li class="list-group-item">
        <a asp-controller="Empleados" asp-action="SessionSalarios">Session Salarios</a>
     </li>
    <li class="list-group-item">
        <a asp-controller="Empleados" asp-action="SessionEmpleados">Session Empleados</a>
     </li>


 </ul>