@model List<Empleado>
<h1>Session Salarios</h1>

<p>
    <a asp-controller="Empleados" asp-action="SumaSalarial">Mostrar suma salarial</a>
</p>

<h4>@ViewData["MENSAJE"]</h4>

<ul class="list-group">

    @foreach(Empleado empleado in Model)
    {
        <li class="list-group-item">
            @empleado.Apellido

         <a asp-controller="Empleados" asp-action="SessionSalarios" asp-route-salario="@empleado.Salario">Almacenar salario</a>
         
        </li>
        
    }

</ul>