@model List<Empleado>

<h1 style="color:yellow">Session Empleados List V4 </h1>


<p>



    <a asp-controller="Empleados" asp-action="EmpleadosAlmacenadosV4">Empleados Almacenados</a>

</p>

<ul class="list-group">

    @foreach (Empleado empleado in Model)
    {
        <li class="list-group-item" style="color:coral; background-color:aqua">
            @empleado.Apellido

            <a asp-controller="Empleados" asp-action="SessionEmpleadosV4" asp-route-idempleado="@empleado.IdEmpleado">Almacenar empleado</a>

        </li>

    }

</ul>
